In [1]:
import numpy as np
import pandas as pd

In [6]:
uni_towns = []
#putting state, town, and school all in one line as tuples
with open('university_towns.txt') as file:
    for line in file:
        if '[edit]' in line:
            state = line
        else:
            uni_towns.append((state, line))

In [14]:
#wrap list in DataFrame
uni_towns_df = pd.DataFrame(uni_towns, columns=['State', 'Town'])

In [15]:
uni_towns_df.head()

             State                                               Town
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

In [16]:
#Need to get rid of school names
def get_city(item):
    if ' (' in item:
        return item[:item.find(' (')]
    elif '[' in item:
        return item[:item.find('[')]
    else:
        return item

In [17]:
uni_towns_df = uni_towns_df.applymap(get_city)

In [18]:
uni_towns_df.head()

     State          Town
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo